
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    background-color: #164e63;
    font-family: "Proxima Nova", system-ui, sans-serif;
    color: aliceblue;
}
body{
    margin:0;
}
#proj-img{
    max-width: 30%;
    max-height: 30%;
}